# Claude Code working file (do not publish)
CLAUDE.md

# macOS
.DS_Store

# Third-party source PDFs (copyrighted, kept local for reference only)
Lectures_on_Optics/TesisKarolDoc.pdf
Lectures_on_Optics/TuneableBirrefringent.pdf
